body {
  color: #224;
  background:
    url(../asset/images/pc-bg.png) center / cover no-repeat fixed;
  scroll-behavior: smooth;
}
.content{
  backdrop-filter: blur(21px) saturate(200%);
  -webkit-backdrop-filter: blur(21px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.92);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  color: #686a6e;
}

.title-1 {
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 700;
}

@font-face {
  font-family: myfont;
  src: url(../asset/font-1.ttf);
}


span.name {
  color: red;
  font-family: myfont;
  text-shadow: 0 15px 30px rgba(100, 1, 1, 1);
}

#profile-img {
  box-shadow: rgb(238, 3, 3) 0px 2px 20px 4px;
  border-radius: 5px;
}

.title-2 {
  font-size: 28px;
  color: #E4E9F7;
  min-width: 260px;
}

span.txt-title2-mini {
  color: #007FFF;
  text-shadow: 0 10px 20px rgb(26, 30, 255);
}

.text-1 {
  font-size: 18px;
  color: #686a6e;
  text-align: justify;
}

.animation-icon1 {
  border: 1px solid rgb(0, 115, 255);
  border-radius: 10px;
  padding: 10px;
  animation: key1 .9s ease infinite alternate;
}

.animation-icon2 {
  border: 1px solid rgb(0, 115, 255);
  border-radius: 10px;
  padding: 10px;
  animation: key1 .9s ease infinite alternate;
}

.animation-icon3 {
  border: 1px solid rgb(0, 115, 255);
  border-radius: 10px;
  padding: 10px;
  animation: key1 .9s ease infinite alternate;
}

@keyframes key1 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.button:hover {
  color: #000;
  transition: all .3s;
  transform: translateY(-5px);
  box-shadow: 5px 10px 10px rgb(26, 121, 255);
}

.fa {
  padding: 20px;
  font-size: 13px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  border: 1px solid rgb(0, 195, 255);
  color: rgb(0, 204, 255);
}

.fa-linkedin {
  border: 1px solid rgb(0, 195, 255);
  color: rgb(0, 204, 255);
}

.fa-google {
  border: 1px solid rgb(0, 195, 255);
  color: rgb(0, 204, 255);
}

.fa-github {
  border: 1px solid rgb(0, 195, 255);
  color: rgb(0, 204, 255);
}


footer {
  background-color: rgba(93, 90, 90, 0.45);
}